@import "./media.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rokkitt:wght@700&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #f2f2f2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rokkitt", serif;
  margin-top: 0;
}
p {
  margin-top: 0;
  margin-bottom: 12px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 70px;

  .layer {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .logo-wrapper {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    .logo {
      border: 5px solid #fff;
      padding: 15px;
      border-radius: 100%;

      .brand {
        color: #fff;
        font-size: 40px;
      }
    }
  }

  .header-text {
    padding-top: 100px;
    padding-bottom: 125px;
    text-align: center;
  }
  h1 {
    color: #fff;
    margin-bottom: 15px;
    font-size: 35px;
    @include medium {
      font-size: 45px;
    }
  }
  p {
    color: #fff;
    font-size: 18px;
    @include medium {
      font-size: 24px;
    }
  }
}

.recipeHeading {
  color: #6fcb9f;
  text-align: center;
  font-size: 45px;
  margin-bottom: 70px;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  .tablist {
    width: 140px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
    cursor: pointer;

    @include medium {
      height: 100px;
    }

    @include default {
      height: 120px;
    }
    svg {
      font-size: 35px;
      @include medium {
        font-size: 40px;
      }
      @include default {
        font-size: 50px;
      }
    }
    span {
      font-size: 14px;
      @include medium {
        font-size: 18px;
      }
    }
    &.active {
      background-color: #6fcb9f;
      span {
        color: white;
      }
      svg {
        color: white;
      }

      &::after {
        position: absolute;
        content: " ";
        border-top: 15px solid #6fcb9f;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        bottom: -14px;
        @include medium {
          border-top: 20px solid #6fcb9f;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          bottom: -20px;
        }
        @include default {
          border-top: 20px solid #6fcb9f;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          bottom: -20px;
        }
      }
    }
  }
}

.recipe_banner {
  background-color: #29336b;
  padding: 20px;
  color: #fff;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 70px;
  @include medium {
    padding: 60px 40px;
    flex-direction: row;
  }
  .left-col {
    @include medium {
      width: 50%;
    }
    .badge {
      background-color: #6fcb9f;
      padding: 5px;
      border-radius: 3px;
      margin-bottom: 10px;
      display: inline-block;
      font-size: 14px;
      @include medium {
        font-size: 16px;
      }
    }
    h1 {
      font-size: 30px;
      margin-bottom: 8px;
      @include medium {
        margin-bottom: 10px;
        font-size: 45px;
      }
    }
    p {
      font-size: 16px;
      margin-bottom: 8px;
      @include medium {
        font-size: 18px;
        margin-bottom: 10px;
      }
    }

    h3 {
      font-size: 25px;
      margin-bottom: 15px;
      @include medium {
        font-size: 30px;
        margin-bottom: 20px;
      }
    }
    .ingredients {
      display: flex;
      gap: 100px;

      ul {
        padding: 0;
        display: flex;
        flex-flow: wrap;
        gap: 20px;
        margin-top: 10px;
        list-style: none;
        li {
          display: flex;
          margin-bottom: 10px;
          font-size: 16px;
          @include medium {
            margin-bottom: 10px;
            width: calc(50% - 20px);
          }
        }
      }
    }
  }

  .right-col {
    @include medium {
      width: 50%;
      padding-top: 50px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    .image-wrapper {
      width: 100%;
      height: 280px;
      @include medium {
        width: 350px;
        height: 350px;
      }
      margin-bottom: 30px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 2%;
        @include medium {
          border-radius: 100%;
        }
      }
    }
  }
}

.heading-line {
  text-align: center;
  padding: 10px 0;
  font-size: 35px;
  margin-bottom: 50px;
  color: #6fcb9f;
  @include medium {
    font-size: 45px;
  }

  .input-wrapper {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    input {
      width: 80%;
      height: 45px;
      outline: none;
      border-radius: 8px 0 0 8px;
      border: 1px solid #6fcb9f;
      font-size: 20px;
      padding: 5px 15px;
    }
    button {
      background-color: #6fcb9f;
      outline: none;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 45px;
      border: none;
      font-size: 18px;
      width: 50px;
      border-radius: 0 8px 8px 0;
      cursor: pointer;
    }
  }
}

.flexbox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 70px;
  .flexItem {
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
    @include small {
      width: calc(100% / 2 - 20px);
    }
    @include default {
      width: calc(100% / 4 - 20px);
    }
    .img-wrapper {
      margin-bottom: 15px;
      img {
        width: 100%;
      }
    }
    p {
      color: #29336b;
      padding: 0 15px;
    }
  }
}

.loader {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  .spiner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #6fcb9f;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
